@model ManufacturingManagement_V2.Models.AttendanceDetailMdl

@{
    ViewBag.Title = "Details";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h2>Attendance Detail</h2>

<p>
    @Html.ActionLink("Edit", "CreateUpdate", new { id=Model.RecId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Create New", "CreateUpdate", null, new { @class = "btn btn-default" })
</p>

<fieldset>
    <legend>AttendanceDetailMdl</legend>
        <div class="form-group">
            <table class="table table-bordered">
                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.AttDate)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.AttDate)</td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.AttShift)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.ShiftName)</td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.EmpId)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.EmpId)</td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.AttValue)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.AttValueName)</td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.AttHours)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.AttHours) Hours</td>
                </tr>

            </table>
        </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn btn-default" value="Delete" onclick="return confirm('Are you sure to delete this record?');" />
    </p>
}
