@model ManufacturingManagement_V2.Models.ItemMdl

@{
    ViewBag.Title = "Details";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Item Detail</b></h4>

<p>
    @Html.ActionLink("Edit", "CreateUpdate", new { id=Model.ItemId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Create New", "CreateUpdate", null, new { @class = "btn btn-default" })
    @Html.ActionLink("View Log", "../EventLogReport/getLogDetail",
    new { tblid = 32, pkval = Model.ItemId }, new {@target="_blank", @class = "btn btn-default" })
</p>

<fieldset>
        <div class="form-group">
            <table class="table table-bordered">
                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.ItemId)</td>
                    <td style="vertical-align:top;">: <b>@Html.DisplayFor(model => model.ItemId)</b></td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.ItemType)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.ItemType)</td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.ItemCode)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.ItemCode)</td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;vertical-align:top;">@Html.DisplayNameFor(model => model.ShortName)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.ShortName)</td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;vertical-align:top;">@Html.DisplayNameFor(model => model.ItemName)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.ItemName)</td>
                </tr>

                <tr>
                    <td style="font-weight:bold;">@Html.DisplayNameFor(model => model.GroupName)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.GroupName)</td>
                </tr>

                <tr>
                    <td style="font-weight:bold;vertical-align:top;">@Html.DisplayNameFor(model => model.Specification)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.Specification)</td>
                </tr>

                <tr>
                    <td style="font-weight:bold;">@Html.DisplayNameFor(model => model.UnitName)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.UnitName)</td>
                </tr>

                <tr>
                    <td style="font-weight:bold;">@Html.DisplayNameFor(model => model.SaleRate)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.SaleRate)</td>
                </tr>

                <tr>
                    <td style="font-weight:bold;">@Html.DisplayNameFor(model => model.PurchaseRate)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.PurchaseRate)</td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.HSNCode)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.HSNCode)</td>
                </tr>

                <tr>
                    <td style="font-weight:bold;">@Html.DisplayNameFor(model => model.Remarks)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.Remarks)</td>
                </tr>

            </table>
        </div>
</fieldset>

@if(ViewBag.IsAdmin == "1") {
    using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn btn-default" value="Delete" onclick="return confirm('Are you sure to delete this record?');" />
    </p>
    }
}
