<div class="col-md-12">

    @*panel1*@
    <div class="col-md-4 pull-left">
        <div class="panel panel-primary" style="width:100%;">
            <div class="panel panel-heading">
                <h4 class="panel-title">Panel-1 Header</h4>
            </div>
            <div class="panel-body text-center">
                <div class="col-md-3">
                    @*<a href='@Url.Action("ComplaintNotStarted", "Copplaint")'>*@
                    <a href='#'>
                        <i class="fa fa-calendar-o fa-lg"></i>
                        <h5>Col1</h5>
                        @*<h4>@ViewBag.notstarted</h4>*@
                        <h5>Value</h5>
                    </a>
                </div>
                <div class="col-md-3">
                    @*<a href='@Url.Action("ComplaintNotStarted", "Copplaint")'>*@
                    <a href='#'>
                        <i class="fa fa-calendar-o fa-lg"></i>
                        <h5>Col2</h5>
                        @*<h4>@ViewBag.notstarted</h4>*@
                        <h5>Value</h5>
                    </a>
                </div>
                <div class="col-md-3">
                    @*<a href='@Url.Action("ComplaintNotStarted", "Copplaint")'>*@
                    <a href='#'>
                        <i class="fa fa-calendar-o fa-lg"></i>
                        <h5>Col3</h5>
                        @*<h4>@ViewBag.notstarted</h4>*@
                        <h5>Value</h5>
                    </a>
                </div>
                <div class="col-md-3">
                    @*<a href='@Url.Action("ComplaintNotStarted", "Copplaint")'>*@
                    <a href='#'>
                        <i class="fa fa-calendar-o fa-lg"></i>
                        <h5>Col4</h5>
                        @*<h4>@ViewBag.notstarted</h4>*@
                        <h5>Value</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    @*end-panel1*@

    @*panel2*@
    <div class="col-md-4 pull-left">
        <div class="panel panel-primary" style="width:100%;">
            <div class="panel panel-heading">
                <h4 class="panel-title">Panel-2 Header</h4>
            </div>
            <div class="panel-body text-center">
                <div class="col-md-3">
                    @*<a href='@Url.Action("ComplaintNotStarted", "Copplaint")'>*@
                    <a href='#'>
                        <i class="fa fa-calendar-o fa-lg"></i>
                        <h5>Col1</h5>
                        @*<h4>@ViewBag.notstarted</h4>*@
                        <h5>Value</h5>
                    </a>
                </div>
                <div class="col-md-3">
                    @*<a href='@Url.Action("ComplaintNotStarted", "Copplaint")'>*@
                    <a href='#'>
                        <i class="fa fa-calendar-o fa-lg"></i>
                        <h5>Col2</h5>
                        @*<h4>@ViewBag.notstarted</h4>*@
                        <h5>Value</h5>
                    </a>
                </div>
                <div class="col-md-3">
                    @*<a href='@Url.Action("ComplaintNotStarted", "Copplaint")'>*@
                    <a href='#'>
                        <i class="fa fa-calendar-o fa-lg"></i>
                        <h5>Col3</h5>
                        @*<h4>@ViewBag.notstarted</h4>*@
                        <h5>Value</h5>
                    </a>
                </div>
                <div class="col-md-3">
                    @*<a href='@Url.Action("ComplaintNotStarted", "Copplaint")'>*@
                    <a href='#'>
                        <i class="fa fa-calendar-o fa-lg"></i>
                        <h5>Col4</h5>
                        @*<h4>@ViewBag.notstarted</h4>*@
                        <h5>Value</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    @*end panel2*@

</div>