@model ManufacturingManagement_V2.Models.UnitConversionMdl

@{
    ViewBag.Title = "CreateUpdate";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Unit Conversion Detail</b></h4>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        <table class="table table-bordered">
            @Html.HiddenFor(model => model.RecId)
            <tr>
                <td style="width:15%;">@Html.LabelFor(model => model.MainUnitName) 1</td>
                <td>
                    @Html.DropDownListFor(model => model.MainUnit, ViewBag.MainUnitList as SelectList)
                    @Html.ValidationMessageFor(model => model.MainUnit)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ConvFactor) =</td>
                <td>
                    @Html.EditorFor(model => model.ConvFactor)
                    @Html.ValidationMessageFor(model => model.ConvFactor)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.AltUnitName)</td>
                <td>
                    @Html.DropDownListFor(model => model.AltUnit, ViewBag.AltUnitList as SelectList)
                    @Html.ValidationMessageFor(model => model.AltUnit)
                </td>
            </tr>
            <tr><td colspan="2"><h5>[As 1 Kg = 1000 Gram]</h5><td></tr>
        </table>
    </div>
    <p>
        <input type="submit" class="btn btn-default" value='@ViewBag.AddEdit' />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </p>
    <h5><b>@ViewBag.Message</b></h5>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            //$("input[type=text]").first().focus();
            document.getElementById('MainUnit').focus();
        });
    </script>

}


