@model ManufacturingManagement_V2.Models.CityMdl

@{
    ViewBag.Title = "Details";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>City Name</b></h4>

<p>
    @Html.ActionLink("Edit", "CreateUpdate", new { id=Model.CityId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Create New", "CreateUpdate", null, new { @class = "btn btn-default" })
</p>

<fieldset>
        <div class="form-group">
            <table class="table table-bordered">
                <tr>
                    <td style="width:10%;;font-weight:bold;">@Html.DisplayNameFor(model => model.CityName)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.CityName)</td>
                </tr>

            </table>
        </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn btn-default" value="Delete" onclick="return confirm('Are you sure to delete this record?');" />
    </p>
}
