@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Change Password</b></h4>
<fieldset>

    @*<div name="frmCheckPassword" id="frmCheckPassword">
            <label>Password:</label>
            <input type="password" name="password" id="txtNewPassW"
            class="demoInputBox" onKeyUp="checkPasswordStrength();" />
            <div id="password-strength-status"></div>
        </div>*@

    @using (Ajax.BeginForm("ChangePassword", "Login",
                            new AjaxOptions { UpdateTargetId = "divChangePassword" }))
    {
        <div class="form-group" id="divChangePassword">
            <table class="table table-bordered">
                <tr>
                    <td style="width:15%;">@Html.Label("Current Password")</td>
                    <td>@Html.Password("txtOldPassW")</td>
                </tr>
                <tr>
                    <td>@Html.Label("New Password")</td>
                    <td>
                        @Html.Password("txtNewPassW", null,
                           new
                            {
                                //@class="demoInputBox",
                                //@OnKeyUp = "checkPasswordStrength();"
                            })
                        @*<div id="password-strength-status" style="width:50%;"></div>*@
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("Confirm Password")</td>
                    <td>@Html.Password("txtConfPassW")</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span style="color:blue;">
                            <b>Password Policy:</b>
                            <br />1. The Password must have minimum 10 characters.
                            <br />2. It must have at least one upper case alphabet and one lower case alphabet.
                            <br />3. It must have at least one numeric and one special character.
                            <br />4. Example : 'Abc@123$X8', in any pattern.
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <p>
            <input type="submit" class="btn btn-default" value='Submit' />
        </p>
        <span style="color:red;">@ViewBag.Result</span>
    }
</fieldset>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function checkPasswordStrength() {
            var number = /([0-9])/;
            var alphabets = /([a-zA-Z])/;
            var special_characters = /([~,!,@@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
            if ($('#txtNewPassW').val().length < 10) {
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('weak-password');
                $('#password-strength-status').html("Weak (should be atleast 10 characters.)");
            } else {
                if ($('#txtNewPassW').val().match(number) && $('#txtNewPassW').val().match(alphabets) && $('#txtNewPassW').val().match(special_characters)) {
                    $('#password-strength-status').removeClass();
                    $('#password-strength-status').addClass('strong-password');
                    $('#password-strength-status').html("Strong");
                } else {
                    $('#password-strength-status').removeClass();
                    $('#password-strength-status').addClass('medium-password');
                    $('#password-strength-status').html("Medium (should include alphabets, numbers and special characters.)");
                }
            }
        }
    </script>
}

<style>
    #frmCheckPassword {
        border-top: #F0F0F0 2px solid;
        background: #808080;
        padding: 10px;
    }

    .demoInputBox {
        padding: 7px;
        border: #F0F0F0 1px solid;
        border-radius: 4px;
    }

    #password-strength-status {
        padding: 5px 10px;
        color: #FFFFFF;
        border-radius: 4px;
        margin-top: 5px;
    }

    .medium-password {
        background-color: #b7d60a;
        border: #BBB418 1px solid;
    }

    .weak-password {
        background-color: #ce1d14;
        border: #AA4502 1px solid;
    }

    .strong-password {
        background-color: #12CC1A;
        border: #0FA015 1px solid;
    }
</style>