@model ManufacturingManagement_V2.Models.LoginMdl
@*@model ManageRoles.ViewModels.LoginViewModel
    @using CaptchaMvc.HtmlHelpers*@
@{
    /**/

    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@*<style>

        #CaptchaInputText {
            text-transform: uppercase;
        }
    </style>*@
@using (Html.BeginForm("ForgetPassword", "Login"))
{
    @Html.AntiForgeryToken()
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <h3 class="panel-title"> </h3>
            </div>
            <div class="panel-body text-left">
               
                <div class="gd-logo"><a href="http://www.praggroup.com"> <img id="img1" alt="" width="100" height="70 " src="http://192.168.0.20:80/Images/Praglogo.png" /></a></div>

            </div>
        </div>
    </div>
   
    <br />
    <br />
    <p style="text-align:center;font-weight:bold;font-family:Calibri;">
        Enter User Name or Employee Id to Retrieve the Password
    </p>

    <div class="login-panel">
        @if (ViewBag.Message != null)
        {
            <p class="alert alert-danger" id="successMessage">@ViewBag.Message</p>
        }
        @* <p style="text-align:center;color:mediumvioletred"> @ViewBag.Result</p>*@
        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                @*<a> <i class="fa fa-user-plus"></i></a>*@
                @*<h3>Login</h3>*@
            </div>
        </div>
        @* @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })*@
        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                @Html.Label("User Name")
                @Html.TextBoxFor(model => model.UserName, 
                   new { @class = "form-control", @autocomplete = "off" })
                   @*@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })*@

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                @Html.Label("OR Employee Id")
                @Html.TextBoxFor(model => model.Department, 
                   new { @class = "form-control", @autocomplete = "off" })
                   @*@Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <table>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="width:50%;">@Html.Label("Enter numbers below")</td>
                        <td>
                            <img alt="Captcha" src="@Url.Action("CaptchaImage1")" />
                        </td>
                    </tr>
                </table>
                @Html.TextBox("txtCaptcha", null, new { autocomplete = "off" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input id="Submit" class="btn btn-success" type="submit" value="Submit">
                &nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <div class="col-md-4">

            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <h3 class="panel-title"> </h3>
                </div>
                <div class="panel-body text-left">
                    @Html.ActionLink("Back to Login", "LoginUser", "Login")
                </div>

                <div class="panel panel-heading">
                    <h3 class="panel-title"> </h3>
                    <span style="color:black;font-weight:bolder">Note: Password will be sent on registered Email only</span>
                </div>
                <div style="font-size:8pt;color:black;font-weight:bold;text-align:left;">
                    @*class="dont-have-account"*@
                    <br />PRAG MIS DEPTT., Contact No : Extn. 332 / 0522-26 52 033 / (+91) 89 22 00 88 25
                </div>
                <div class="panel-body text-right">
                    @*<div class="gd-logo"><a href="/Login/ForgetPassword"><img id="img5" alt="" width="50" height="50" src="http://localhost:54708/Images/Forgotpassword.jpg" />Forgot password ?</a></div>*@

                </div>
            </div>
        </div>

    </div>
}

@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @section Scripts {

        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript">
            $(function () {
                $("input[type=text]").first().focus();
                $("#UserName").attr("placeholder", "User Id");
                $("#Department").attr("placeholder", "Employee Id");
            });
        </script>
    }*@

@*</body>*@
@*</html>*@
@*@@*Html.EditorFor(model => model.UserName)*@
@*@Html.EditorFor(model => model.Department, new { @class = "inputclass" })*@
@*<span style="color:black;font-weight:bolder">Note: Password will be sent on registered Email only</span>*@
