@model ManufacturingManagement_V2.Models.LoginMdl
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

@*<h2>Forget Password</h2>*@
<div style="font-size:14pt;color:black;background-color:yellow;text-align:center;">
    <b>Forget Password</b></div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        <div class="form-group">
            <br/><b><i>Enter User Id or Employee Id</i></b><br/>
            <br/><b>User Id</b>
            <br/>@Html.EditorFor(model => model.UserName)
            <br/><br/>
            <b>Employee Id</b>
            <br/>@Html.EditorFor(model => model.Department)
            
        </div>
    <h2>@ViewBag.Message</h2>
      <p>
        <input type="submit" value='Submit' />
        @Html.ActionLink("Close", null,null,new{@onclick="window.close()", @style="color:blue;"})
        <br/><br/><span>Note: Password will be sent on registered Email only</span>
      </p>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts {

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
            $("#UserName").attr("placeholder", "User Id");
            $("#Department").attr("placeholder", "Employee Id");
        });
        </script>
}

