@model ManufacturingManagement_V2.Models.rptOptionMdl

@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Material Requirement List</b></h4>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        <h5><b>Report Options</b></h5>
        <table class="table table-bordered">
            <tr>
                @Html.HiddenFor(model => model.FgItemId)
                <td style="width:10%;"><b>Company</b></td>
                <td>
                    @Html.DropDownListFor(model => model.CompCode, ViewBag.CompanyList as SelectList)
                    @Html.ValidationMessageFor(model => model.CompCode)
                </td>
            </tr>
            <tr>
                <td><b>Finished Item</b></td>
                <td>
                    @Html.EditorFor(model => model.FgItemCode)
                    @Html.ValidationMessageFor(model => model.FgItemCode)
                </td>
            </tr>
            <tr>
                <td><b>Required Qty</b></td>
                <td>
                    @Html.EditorFor(model => model.Amount)
                    @Html.ValidationMessageFor(model => model.Amount)
                </td>
            </tr>
        </table>
    </div>
    <p>
        <input type="submit" class="btn btn-default" value="View Report" onclick="target = '_blank';" style="width:150px;"
               formaction="@Url.Action("MaterialRequirementReport")" />
    </p>
    <h5><b>@ViewBag.Message</b></h5>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts {

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
            $("#FgItemCode").attr("placeholder", "start typing, then select");
            //$("#FilterByDT").attr("style", "width:55px;height:25px;");
        });
    </script>

    <script type="text/javascript">
        $("#FgItemCode").autocomplete({
            source: function (request, response) {
                var liObj = document.getElementById("CompCode");
                var objIndex = liObj.selectedIndex;
                var objId = liObj.options[objIndex].value;
                var customer = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("AutoCompleteItemsDefinedInBOM", "BOM"))",
                    data: { "term": request.term, "ccode": objId },
                    success: function (data) {
                        for (var i = 0; i < data.length ; i++) {
                            customer[i] = { label: data[i].Value, Id: data[i].Key };
                        }
                    }
                });
                response(customer);
            }, minLength: 2,
            select: function (event, ui) {
                document.getElementById('FgItemId').value = ui.item.Id;
            }
        });
    </script>

}


