@model ManufacturingManagement_V2.Models.rptOptionMdl

@{
    ViewBag.Title = "TenderReport";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Tender Report</b></h4>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<div class="form-group">
    <h5><b>Report Options</b></h5>
    <table class="table table-bordered">
        <tr>
            @Html.HiddenFor(model => model.GroupId)
            @Html.HiddenFor(model => model.RmItemId)
            @Html.HiddenFor(model => model.AgentId)
            <td><b>Company</b></td>
            <td>
                @Html.DropDownListFor(model => model.CompCode, ViewBag.CompanyList as SelectList, "ALL")
                @*@Html.ValidationMessageFor(model => model.CompCode)*@
            </td>
            <td><b>Status</b></td>
            <td>
                @Html.DropDownListFor(model => model.EmpType, ViewBag.TenderStatusList as SelectList)
                @Html.ValidationMessageFor(model => model.EmpType)
            </td>
        </tr>
        <tr>
            <td><b>Date&nbsp;From</b></td>
            <td>
                @Html.EditorFor(model => model.DateFrom)
                @Html.ValidationMessageFor(model => model.DateFrom)
            </td>
            <td><b>Railway</b></td>
            <td>
                @Html.EditorFor(model => model.EmpName)
                @Html.ValidationMessageFor(model => model.EmpName)
            </td>
        </tr>
        <tr>
            <td><b>Date&nbsp;To</b></td>
            <td>
                @Html.EditorFor(model => model.DateTo)
                @Html.ValidationMessageFor(model => model.DateTo)
            </td>
            <td><b>Item&nbsp;Group</b>
            <td>
                @Html.EditorFor(model => model.GroupName)
                @Html.ValidationMessageFor(model => model.GroupId)
            </td>
        </tr>
        <tr>
            <td><b>Item</b></td>
            <td>
                @Html.EditorFor(model => model.RmItemCode)
                @Html.ValidationMessageFor(model => model.RmItemId)
            </td>
            <td><b>Format</b></td>
            <td>
                @Html.DropDownListFor(model => model.ReportFormat, ViewBag.ReportFormatList as SelectList)
            </td>
        </tr>
    </table>
</div>
    <h5><b>@ViewBag.Message</b></h5>
        <p>
            <input type="submit" class="btn btn-default" value="Submit" onclick="target = '_blank';"
                formaction="@Url.Action("DisplayTenderReport")" />
            * Excel Format under testing
        </p>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts {

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
            $("#GroupName").attr("placeholder", "start typing, then select");
            $("#RmItemCode").attr("placeholder", "start typing, then select");
            $("#EmpName").attr("placeholder", "start typing, then select");
        });

    </script>

    <script type="text/javascript">
        $("#GroupName").autocomplete({
            source: function (request, response) {
                var customer = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("AutoCompleteItemGroup", "HelpUtility"))",
                    data: { "term": request.term },
                    success: function (data) {
                        for (var i = 0; i < data.length ; i++) {
                            customer[i] = { label: data[i].Value, Id: data[i].Key };
                        }
                    }
                });
                response(customer);
            }, minLength: 2,
            select: function (event, ui) {
                document.getElementById('GroupId').value = ui.item.Id;
            }
        });
</script>

    <script type="text/javascript">
        $("#RmItemCode").autocomplete({
            source: function (request, response) {
                var customer = new Array();
                var groupId = '0';
                if (document.getElementById('GroupId').value != "0") {
                    groupId = document.getElementById('GroupId').value;
                }
                var ddlSIndex = document.getElementById("CompCode").selectedIndex;
                var ccode = document.getElementsByTagName("option")[ddlSIndex].value;
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("AutoCompleteAllItemListGroup", "HelpUtility"))",
                    data: { "term": request.term, "ccode": ccode, "groupid": groupId },
                    success: function (data) {
                        for (var i = 0; i < data.length ; i++) {
                            customer[i] = { label: data[i].Value, Id: data[i].Key };
                        }
                    }
                });
                response(customer);
            }, minLength: 2,
            select: function (event, ui) {
                document.getElementById('RmItemId').value = ui.item.Id;
            }
        });
</script>

    <script type="text/javascript">
        $("#EmpName").autocomplete({
            source: function (request, response) {
                var customer = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("AutoCompleteRailway", "HelpUtility"))",
                    data: { "term": request.term },
                    success: function (data) {
                        for (var i = 0; i < data.length ; i++) {
                            customer[i] = { label: data[i].Value, Id: data[i].Key };
                        }
                    }
                });
                response(customer);
            }, minLength: 2,
            select: function (event, ui) {
                document.getElementById('AgentId').value = ui.item.Id;
            }
        });
</script>

}