@model IEnumerable<ManufacturingManagement_V2.Models.IMTETypeMdl>

@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>IMTE Type List</b></h4>

<p>
    @Html.ActionLink("Create New", "CreateUpdate", null, new { @class = "btn btn-default" })
</p>
<table class="tablecontainer" style="width:100%;">
    <tr>
        <th style="width:35px;">
            S.No.
        </th>
        <th style="width:auto;">
            @Html.DisplayNameFor(model => model.IMTETypeName)
        </th>
        <th style="width:50px;">Edit</th>
        <th style="width:50px;">Details</th>
    </tr>
    @{int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMTETypeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "CreateUpdate", new { id = item.IMTETypeId })
            </td>
            <td>
                @Html.ActionLink("Delete", null, null,
                    new { onclick = "deleteRecord('" + item.IMTETypeId + "')" })
            </td>
        </tr>
        i++;
    }

</table>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts{

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            //$("input[type=text]").first().focus();
            //document.getElementById("txtAttDay").focus();
        });
    </script>

    <script>
        function deleteRecord(id) {
            var a = confirm("Are you sure to delete this record?");
            if (a == false) {
                return;
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "IMTEType")',
                dataType: 'html',
                data: ({
                    //insert your parameters to pass to controller
                    id: id
                }),
                success: function () {
                    //alert("Marked Pending Successfully");
                    location.reload();
                }
            });
        }
    </script>

}

