@model ManufacturingManagement_V2.Models.rptOptionMdl

@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Employee Who worked Lessthan 8 Hours</b></h4>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        <div class="form-group">
            <table class="table table-bordered">
                <tr>
                    <td style="width:10%;">Company</td>
                    <td>@Html.DropDownListFor(model => model.CompCode, ViewBag.CompanyList as SelectList)</td>
                </tr>
                <tr>
                    <td>Select Grade</td>
                    <td>@Html.DropDownListFor(model => model.Grade, ViewBag.GradeList as SelectList)</td>
                </tr>
                <tr>
                    <td>Select From</td>
                    <td>@Html.EditorFor(model => model.DateFrom)</td>
                </tr>
                <tr>
                    <td>Select To</td>
                    <td>@Html.EditorFor(model => model.DateTo)</td>
                </tr>
            </table>
        </div>
  
<table class="table table-bordered">
    <tr>
        <td style="column-gap:normal">
            <input type="submit" class="btn btn-default" value="Submit" onclick="target = '_blank';"
                   formaction="@Url.Action("Get_B_Lessthan830")" />

            @*<input type="submit" class="btn btn-default" style="width:150px;" value="Submit" onclick="target = '_blank';"
                formaction="@Url.Action("Get_B_FirstIn_LastOut")" />*@
        </td>
    </tr>
</table>
        
}
<h5><b>@ViewBag.Message</b></h5>
    

