@model IEnumerable<ManufacturingManagement_V2.Models.BankGuaranteeMdl>
@{
    ViewBag.Title = "BGHistory";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4>Bank Guarantee History List</h4>

<p>
    @Html.ActionLink("Close", null,null, new{@onclick="window.close();", @class="btn btn-default"})
</p>

<table class="tablecontainer" style="width:100%;">
    <tr>
        <th style="width:30px;">
            S.No.
        </th>
        <th style="width:60px;">
            TenderNo<br />Opn.Date
        </th>
        <th style="width:60px;">
            BGNumber<br />BGDate
        </th>
        <th style="width:60px;">
            @Html.DisplayNameFor(model => model.SdBgAmount)
        </th>
        <th style="width:60px;">
            @Html.DisplayNameFor(model => model.ExtValidity)
        </th>
        <th style="width:70px;">
            @Html.DisplayNameFor(model => model.StatusName)
        </th>
        <th style="width:auto;">
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>Action</th>
    </tr>
    @{int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(model => item.TenderNo)
                <br />@Html.ValueFor(model => item.OpeningDate, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(model => item.BGNumber)
                <br />@Html.ValueFor(model => item.BGDate, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.ValueFor(modelItem => item.SdBgAmount, "{0:##,##,##,##,##0.00}")
            </td>
            <td>
                @Html.ValueFor(model => item.ExtValidity, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(model => item.StatusName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Remarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBGHistory", new { tenderid = item.TenderId, bgnumber = item.BGNumber })
                <br />@Html.ActionLink("View_Log", "../EventLogReport/getLogDetail",
         new { tblid = 84, pkval = item.TenderId.ToString() + "-" + item.BGNumber }, new { @target = "_blank" })
                <br />@Html.ActionLink("Delete", null, null,
         new { onclick = "deleteBGHistory('" + item.TenderId + "','" + item.BGNumber + "')", style = "color:black;" })
            </td>
        </tr>
        i++;
    }

</table>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts{
    
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            //$("input[type=text]").first().focus();
            //document.getElementById("txtAttDay").focus();
            //document.getElementById("txtDtFrom").value = '@ViewBag.dtfrom';
            //document.getElementById("txtDtTo").value = '@ViewBag.dtto';
        });
    </script>

    <script type="text/javascript">
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy"
        });
    </script>

    <script>
        function deleteBGHistory(tenderid, bgnumber) {
            var act = confirm("Are you sure to delete this work?");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteBGHistory", "BankGuarantee")',
                    dataType: 'html',
                    data: ({
                        //insert your parameters to pass to controller
                        tenderid: tenderid,
                        bgnumber: bgnumber,
                        act: act
                    }),
                    success: function () {
                        //alert("Marked Pending Successfully");
                        location.reload();
                    }
            });
        }
</script>

}

