<p>
    @Html.ActionLink("Back To Notification", "Index",null, new{@class="btn btn-default"})
    @Html.ActionLink("All Notifications", "Index", new { all = true },new { @class = "btn btn-default" })
    @Html.ActionLink("Send Notification", "CreateUpdate", null, new { @class = "btn btn-default" })
    @Html.ActionLink("View Response", "NotificationReply", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Notifications-Outward", "NoticeIndex", null, new { @class = "btn btn-default" })
</p>

