@model ManufacturingManagement_V2.Models.EmployeeMdl
@{
    ViewBag.Title = "EmpList";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Missing Punch</title>
</head>
<body>
     Yesturday Missing Punch Employee List
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                    </div>
                    <div class="box-body">
                        <div>
                            @Html.ActionLink("Send SMS To Missing Punch Employeee", "EmpmissingSms", "HR", null, new { @class = "btn btn-primary" })
                            <div id="printbar" class="pull-right">
                            </div>
                        </div>
                        <table id="jdtabledesktop" class="display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Emp Id</th>
                                    <th>Emp Name</th>
                                    <th>Missing Date</th>
                                    <th>Mobile</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Item_List)
                                {
                                <tr>
                                    <td>@Html.DisplayFor(model => item.EmpId)</td>
                                    <td>@Html.DisplayFor(model => item.EmpName)</td>
                                    <td>@Html.DisplayFor(model => item.EDate)</td>
                                    <td>@Html.DisplayFor(model => item.MobileNo)</td>
                                    <td>L</td>

                                    <td>
                                        <a onclick="GetDetails(@item.NewEmpId)">
                                            <i class="fa fa-edit">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Script/Site.js"></script>
</body>
</html>




