@*@model ManufacturingManagement_V2.Models.EmployeeMdl*@
@{
    ViewBag.Title="Index";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MY Home</title>
</head>
<body>
    <div class="row" style="margin-top:3px;margin-bottom:3px">
        <div class="col-md-pull-12">
            <div class="col-md-6 pull-left">
                <div class="panel panel-success">
                    <div class="panel panel-heading">
                        <h4 class="panel-title">Employee Status</h4>
                    </div>
                    <div class="panel-body text-center">
                        <div class="col-md-4">
                            @Html.ActionLink("Total", "EmpList", "HR", null, new { @class = "btn btn-success" })
                            <h4>@ViewBag.ActiveList</h4>
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("Present", "EmpPresent", "HR", null, new { @class = "btn btn-success" })
                            <h4>@ViewBag.Present</h4>
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("Absent", "EmpAbsent", "HR", null, new { @class = "btn btn-success" })
                            <h4>@ViewBag.absent</h4>
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("Late", "EmpLate", "HR", null, new { @class = "btn btn-success" })
                            <h4>@ViewBag.late</h4>
                        </div>

                        <div class="col-md-4">
                            @Html.ActionLink("Missing", "EmployeeMissingPunch", "HR", null, new { @class = "btn btn-success" })
                            <h4>@ViewBag.Missingsmslist</h4>
                        </div>

                        <div class="col-md-4">
                            @Html.ActionLink("Birthday", "EmployeeCommingBirthday", "HR", null, new { @class = "btn btn-success" })
                            <h4>@ViewBag.BirthList</h4>
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("Anniversary", "EmployeeCommingAnniversary", "HR", null, new { @class = "btn btn-success" })
                            <h4>@ViewBag.Anniversary</h4>
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("Retirement", "EmployeeRetirement", "HR", null, new { @class = "btn btn-success" })
                            <h4>@ViewBag.Retirement</h4>
                        </div>

                        <div class="col-md-4">
                            @Html.ActionLink(" Machine Maintenance SMS", "MachinePendingMaintenance", "MachineMaintenance", null, new { @class = "btn btn-success" })
                            <h4>@ViewBag.Retirement</h4>
                        </div>

                      
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:3px;margin-bottom:3px">
            <div class="col-md-pull-12">
                <div class="col-md-6 pull-left">
                    <div class="panel panel-success">
                        <div class="panel panel-heading">
                            <h4 class="panel-title">SMS Log</h4>
                        </div>
                        <div class="panel-body text-center">
                            <div class="col-md-4">
                                @Html.ActionLink("Sent Absent", "AbsentSMS", "HR", null, new { @class = "btn btn-success" })
                                <h4>@ViewBag.AbsentSMSList</h4>
                            </div>
                            <div class="col-md-4">
                                @Html.ActionLink("Sent Late", "SentLateSMS", "HR", null, new { @class = "btn btn-success" })
                                <h4>@ViewBag.Latesmslist</h4>
                            </div>
                            <div class="col-md-4">
                                @Html.ActionLink("Missing Punch", "SentMissingSMS", "HR", null, new { @class = "btn btn-success" })
                                <h4>@ViewBag.AllMissingsmslist</h4>
                            </div>

                            <div class="col-md-4">
                                @Html.ActionLink("Convert Absent Present Log", "AbsentPresentLog", "HR", null, new { @class = "btn btn-success" })
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <script src="~/Script/Site.js"></script>
</body>

</html>

