@model ManufacturingManagement_V2.Models.AAA_ITAssestCell_MDI
@{
    ViewBag.Title = "Item Name";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
     
        <script>
        //$(function () {
        //    $('#example1').DataTable();
        //})
        function GetDetails(id) {
            $.ajax({
                url: "/B_Item_Master_ItCell/Edit_Item_ItemMasterITCell_Record/" + id,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    $('#Item_Id').val(response.Item_Id);
                    $('#Item_Name').val(response.Item_Name);
                    //$('#StockMaster').val(response.StockMaster);
                    $('#modal-Update').modal('show');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            return false;
        }
       
    </script>
</head>

<body>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-Insert_ItemMaster" style="margin-top:3px;margin-bottom:3px">
        Add New
    </button>
    <div id="printbar" class="pull-right" style="margin-top:3px;margin-bottom:3px">
    </div>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box box-primary">

                    <div class="box-body">
                        <table id="jdtabledesktop" class="table table-bordered table-hover " style="width:100%">
                            <thead>
                                <tr>
                                    <th>Item Id</th>
                                    <th>Item Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Item_List)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(model => item.Item_Id)</td>
                                        <td>@Html.DisplayFor(model => item.Item_Name)</td>
                                        <td>
                                            <a onclick="GetDetails(@item.Item_Id)">
                                                <i class="fa fa-edit">
                                                </i>
                                            </a>
                                            <a>
                                                @Html.ActionLink(" ", "B_Item_Master_ItCell", "DeleteItemName", new { id = item.Item_Id }, new { onclick = "return confirm('Are  sure wants to delete?');", @class = "fa fa-trash-o" })
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modal-Update">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="box-title"> Update Item </h3>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        @using (Html
                            .BeginForm("Edit_ItemMaster_ITCell", "B_Item_Master_ItCell", FormMethod.Post))
                        {
                            <div class="modal-body">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="Item_Id" name="Item_Id">
                                        <input type="text" class="form-control" id="Item_Name" name="Item_Name">
                                        @*<input type="number" class="form-control" id="StockMaster" name="StockMaster"  readonly="True" >*@
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-Insert_ItemMaster">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="box-title"> Add New</h3>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        @using (Html.BeginForm("Add_ItemMaster_ItCell", "B_Item_Master_ItCell", FormMethod.Post))
                        {
                            <div class="modal-body">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Select Item Type</label>
                                        <br />
                                        @Html.DropDownListFor(model => model.Item_Type_Id, ViewBag.CompanyList as SelectList)
                                        <br />
                                        @Html.ValidationMessageFor(model => model.Item_Type, "", new { @class = "error" })

                                        <label>Item Name</label>
                                        <br />

                                        @Html.EditorFor(model => model.Item_Name, new { @class = "form-control", @placeholder = "Item Name" })
                                        @Html.ValidationMessageFor(model => model.Item_Name, "", new { @class = "error" })


                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Save</button>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-dismissable">
                @ViewBag.Message;
                <a href="#" class="close" data-dissmiss="alert">x</a>
            </div>
        }
    </div>
    <script src="~/Script/Site.js"></script>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
    </html>
