@model ManufacturingManagement_V2.Models.rptOptionMdl

@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Jobwork Report</b></h4>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        <h5><b>Report Options</b></h5>
        <table class="table table-bordered">
            @Html.HiddenFor(model => model.VendorId)
            <tr>
                <td style="width:10%;">From Date</td>
                <td>@Html.EditorFor(model => model.DateFrom)</td>
            </tr>
            <tr>
                <td>To Date</td>
                <td>@Html.EditorFor(model => model.DateTo)</td>
            </tr>
            <tr>
                <td>Vendor</td>
                <td>@Html.EditorFor(model => model.GroupName)</td>
            </tr>
            <tr>
                <td>Challan No</td>
                <td>@Html.EditorFor(model => model.EmpName)</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Html.DropDownListFor(model => model.Grade, ViewBag.JobworkStatusList as SelectList)</td>
            </tr>
        </table>
    </div>
    <p>
        <input type="submit" class="btn btn-default" style="width:150px;" value="Submit" onclick="target = '_blank';"
               formaction="@Url.Action("ITC4Report")" />
        <input type="submit" class="btn btn-default" style="width:150px;" value="Cancelled" onclick="target = '_blank';"
               formaction="@Url.Action("CancelledJobworkReport")" />
    </p>
    <h5><b>@ViewBag.Message</b></h5>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts {
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
            document.getElementById("#DateFrom").focus();
            $("#GroupName").attr("placeholder", "start typing, then select");
        });
    </script>

    <script type="text/javascript">
        $("#GroupName").autocomplete({
            source: function (request, response) {
                var customer = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("AutoCompleteVendor", "HelpUtility"))",
                    data: { "term": request.term },
                    success: function (data) {
                        for (var i = 0; i < data.length ; i++) {
                            customer[i] = { label: data[i].Value, Id: data[i].Key };
                        }
                    }
                });
                response(customer);
            }, minLength: 2,
            select: function (event, ui) {
                document.getElementById('VendorId').value = ui.item.Id;
            }
        });
    </script>
}