@model ManufacturingManagement_V2.Models.rptOptionMdl
@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}
<h4><b>Salary Report</b></h4>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
        <div class="form-group">
            <h5><b>Report Options</b></h5>
            <table class="table table-bordered">
                <tr>
                    <td>Unit</td>
                    <td>@Html.DropDownListFor(model => model.CompCode, ViewBag.CompanyList as SelectList)</td>
                    <td>Grade</td>
                    <td>@Html.DropDownListFor(model => model.Grade, ViewBag.GradeList as SelectList)</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>@Html.EditorFor(model => model.AttYear)</td>
                    <td>Month</td>
                    <td>@Html.DropDownListFor(model => model.AttMonth, ViewBag.MonthList as SelectList)</td>
                </tr>
                <tr>
                    <td>Agency</td>
                    <td>
                        @Html.DropDownListFor(model => model.AgencyId, ViewBag.AgencyList as SelectList,
                                   new { style = "width:320px;" })
                        </td>
                    <td>Location</td>
                    <td>
                        @Html.DropDownListFor(model => model.LocationId, ViewBag.LocationList as SelectList, "ALL",
                                   new { style = "width:320px;" })
                                    </td>
                </tr>
                <tr>
                    <td>Shift</td>
                    <td>@Html.DropDownListFor(model => model.AttShift, ViewBag.ShiftList as SelectList)</td>
                    <td>Report Format</td>
                    <td>@Html.DropDownListFor(model => model.ReportFormat, ViewBag.ReportFormatList as SelectList)</td>
                </tr>
                <tr>
                    <td>Report Date</td>
                    <td>@Html.EditorFor(model => model.ReportDate)</td>
                    <td style="vertical-align:middle;">PNB</td>
                    <td>@Html.EditorFor(model => model.Detailed)</td>  @*used as bankopt*@
                </tr>
            </table>
    </div>
        <p>
            <input type="submit" class="btn btn-default" style="width:200px;" value="Salary/Wage Sheet" onclick="target = '_blank';" formaction="@Url.Action("SalarySheet")" />
            <input type="submit" class="btn btn-default" style="width:200px;" value="Salary Report- HO" onclick="target = '_blank';" formaction="@Url.Action("SalaryReportHO")" />
            <input type="submit" class="btn btn-default" style="width:200px;" value="Salary Report- NEFT" onclick="target = '_blank';" formaction="@Url.Action("SalaryNeftReport")" />
            <input type="submit" class="btn btn-default" style="width:200px;" value="Form-12" onclick="target = '_blank';" formaction="@Url.Action("Form12Report")" />
            <br />

            <input type="submit" class="btn btn-default" style="width:200px;" value="Form-12 Agency" onclick="target = '_blank';" formaction="@Url.Action("Form12AgencyReport")" />
            <input type="submit" class="btn btn-default" style="width:200px;" value="Incentive Report" onclick="target = '_blank';" formaction="@Url.Action("IncentiveReport")" />
            <input type="submit" class="btn btn-default" style="width:200px;" value="ESI Return" onclick="target = '_blank';" formaction="@Url.Action("ESIReturnReport")" />
            <input type="submit" class="btn btn-default" style="width:200px;" value="PF Return" onclick="target = '_blank';" formaction="@Url.Action("PFReturnReport")" />
            <br />

            <input type="submit" class="btn btn-default" style="width:200px;" value="PF Summary" onclick="target = '_blank';" formaction="@Url.Action("PFReturnSummary")" />
            <input type="submit" class="btn btn-default" style="width:200px;" value="ESI Return (CSV)" onclick="target = '_blank';" formaction="@Url.Action("ESIReturnReportCSV")" />
            <input type="submit" class="btn btn-default" style="width:200px;" value="PF Return (CSV)" onclick="target = '_blank';" formaction="@Url.Action("PFReturnReportCSV")" />
            <input type="submit" class="btn btn-default" style="width: 200px;" value="Salary Slip" onclick="target = '_blank';" formaction="@Url.Action("SalarySlip")" />
            <br />

            <input type="submit" class="btn btn-default" style="width:200px; margin-left:204px;" value="Salary Slip Receipt" onclick="target = '_blank';" formaction="@Url.Action("SalarySlipReceipt")" />
            <input type="submit" class="btn btn-default" style="width:200px;" value="Salary Register" onclick="target = '_blank';" formaction="@Url.Action("SalaryRegister")" />

        </p>
    <h5><b>@ViewBag.Message</b></h5>
}

@section Scripts{
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
            //document.getElementById("txtAttDay").focus();
            $("#Detailed").attr("style", "width:55px;height:25px;");
        });
    </script>
}

