@model ManufacturingManagement_V2.Models.rptOptionMdl

@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

@Html.Partial("../BankGuarantee/BGLinks")
<h4><b>BG Expiry Alert</b></h4>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <h5><b>Report Options</b></h5>
    <div class="form-group">
        <table class="table table-bordered">
            <tr>
                <td style="width:15%;"><b>BG Expired Within Days</b></td>
                <td>@Html.EditorFor(model => model.ItemId)</td>
            </tr>
        </table>
    </div>
    <p>
        <input type="submit" class="btn btn-default" value="Submit" onclick="target = '_blank';"
               formaction="@Url.Action("BGAlertReport")" />
    </p>
    <h5><b>@ViewBag.Message</b></h5>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
            //$("#RegNo").attr("placeholder", "start typing, then select");
        });
    </script>

}
