<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prag</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Contents/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->

    <link href="~/Contents/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Ionicons -->

    <link href="~/Contents/Ionicons/css/ionicons.css" rel="stylesheet" />
    <!-- fullCalendar -->
    @*<link href="~/Content/Calendar/fullcalendar.css" rel="stylesheet" />
        <link href="~/Content/Calendar/fullcalendar.print.css" rel="stylesheet" />*@
    <!-- Theme style -->

    <link href="~/Contents/AdminLTE/css/AdminLTE.css" rel="stylesheet" />
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->

    <link href="~/Contents/AdminLTE/css/skins/_all-skins.css" rel="stylesheet" />
    <!-- Data Table -->
    <link href="~/Contents/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Contents/dataTables.bootstrap.css" rel="stylesheet" />

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- Calendar -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        /*fortopheaderhorizontal*/
        /*body {
            margin: 0;
        }*/

        .icon-bar {
            width: 100%;
            /*background-color: teal;*/
            background-color: #3c8dbc;
            overflow: auto;
            border-top: solid;
        }

            .icon-bar a {
                float: left;
                width: 7%;
                text-align: center;
                padding: 12px 0;
                transition: all 0.1s ease;
                color: white;
                font-size: 15px;
                /*margin-left:55px;*/
            }

                .icon-bar a:hover {
                    background-color: black;
                }

        .active {
            background-color: #4CAF50;
        }
    </style>

    <script type="text/javascript">
        function setOpt(opt) {
            document.getElementById("mnuCaption").innerHTML = opt;
        }
    </script>

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            @*<a href="index2.html" class="logo">*@
            <a href="http://praggroup.com" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                <!-- logo for regular state and mobile devices -->
                @*<span class="logo-lg"><b>Prag</b>Industries</span>*@
                <span class="logo-lg"> <i class="fa fa-graduation-cap" aria-hidden="true"></i><b>PRAG-</b>ERP</span>
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="hidden-xs" style="font-family:'Courier New'">
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.CompName</b></span>
                    <span class="hidden-xs" style="font-family:'Courier New'">
                    &nbsp;&nbsp;<b>Fin.Year:</b>&nbsp;@ViewBag.FinYear</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">@ViewBag.totalNotification</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have [@ViewBag.totalNotification]messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="~/Contents/AdminLTE/img/avatar5.png" class="img-circle" alt="User Image">
                                                </div>
                                                <!-- Message title and timestamp -->
                                                @*<h4>
                                           Support Team
                                           <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>*@
                                                <!-- The message -->
                                                <p></p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                    <!-- /.menu -->
                                </li>
                                <li class="footer"><a href="/LibTask/GetNotificationListByUser">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="/Notice/Index" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">@ViewBag.AllNotice</span>
                                @*<span class="label label-warning">@ViewBag.MsgInfo</span>*@
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have [@ViewBag.AllNotice] Notice</li>
                                @*<li class="header">@ViewBag.AllNotice</li>*@
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            @*<a href="#">
                                        <i class="fa fa-users text-aqua"></i> New members joined today
                                    </a>*@
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="/LibTask/GetAllNotificationList">View All Notice</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="/LibTask/Index" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">@ViewBag.totaltask</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have Completed [@ViewBag.totalcomp] tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="/LibTask/Index">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    @*@ViewBag.totalcomp*@
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="/LibTask/Index">View All Tasks</a>
                                </li>
                            </ul>
                        </li>

                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">

                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/Contents/AdminLTE/img/avatar5.png" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                @* <span class="hidden-xs"> Hi! &nbsp;@WebSecurity.CurrentUserName</span>*@

                                <span class="hidden-xs"> Hi! &nbsp;@ViewBag.UserName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/Contents/AdminLTE/img/avatar5.png" class="img-circle" alt="User Image">
                                    <p>
                                        Arif Khan - Developer
                                        <small>Member since Nov. 2017</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                @* <li class="user-body">*@
                                @*<div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </div>*@
                                <!-- /.row -->
                                @*</li>*@
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/UserAdmin/UpdateProfile" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/Login/LoginUser" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button comment by Arif -->
                        @*<li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>*@
                    </ul>
                </div>
            </nav>

        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                @*<div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/AdminLTE/img/Arif467.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Arif Khan</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>*@

                <!-- search form (Optional) -->
                @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>*@
                <!-- /.search form -->
                <!-- Sidebar Menu -->

                <div id="deptCaption" style="font-weight:bold;">
                    <span style="font-size:14pt;margin-left:5px;">&nbsp;&nbsp;&nbsp;@ViewBag.Dept</span>
                </div>

                @if (@ViewBag.Dept == "Home")
                {
            <ul class="sidebar-menu" data-widget="tree">
                @*ul-start*@

                <li class="active"><a href="#"><i class="fa fa-server" aria-hidden="true"></i><span>Dashboard</span></a></li>
                <li><a href='@Url.Action("Index", "AAA_Events")'><i class="fa fa-calendar fa-lg" aria-hidden="true"></i><span>MyCalendar</span></a></li>
                <li><a href='@Url.Action("GetAllTaskListWithoutUser", "LibTask")'><i class="fa fa-tasks" aria-hidden="true"></i><span>UpdateTask</span></a></li>

                @*Utilities Menu*@
                <li class="treeview">
                    @*<li>*@
                    <a href="/App_Menu/Index?deptt=Quality">
                        <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                        <span>&nbsp;&nbsp;Utilities</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Calibration/Index">My Files</a></li>
                        <li><a href="/Calibration/Index">Send Notification</a></li>
                        <li><a href="/Imte/Index">To Do List</a></li>
                        <li><a href="/Imte/Index">View Directory</a></li>
                        <li><a href="/Imte/Index">My Profile</a></li>
                        <li><a href="/ImteType/Index">ERP Explorer</a></li>
                    </ul>
                    @*</li>*@

                    @*Options Menu*@
                <li class="treeview">
                    @*<li>*@
                    <a href="/App_Menu/Index?deptt=Quality">
                        <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                        <span>&nbsp;&nbsp;Options</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/CalibrationAlertReport/Index">Change Company</a></li>
                        <li><a href="/CalibrationHistoryReport/Index">Change Financial Year</a></li>
                        <li><a href="/ImteMasterReport/Index">Change Password</a></li>
                    </ul>
                    @*</li>*@

            </ul>@*ul-end*@
                }
                else if (@ViewBag.Dept == "HR")
                {
                    <ul class="sidebar-menu" data-widget="tree">
                        @*ul-start*@

                        @*Employee Menu*@
                        <li class="treeview">
                            @*<li>*@
                            <a href="/App_Menu/Index?deptt=HR">
                                <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                                <span onclick="setOpt('EMPLOYEE');">&nbsp;&nbsp;Employee</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Employee/Index">Employee List</a></li>
                                    <li><a href="/Employee/Details">View Employee</a></li>
                                    <li><a href="/Employee/CreateUpdate">New Employee</a></li>
                                </ul>
                            @*</li>*@

                            @*Attendance Menu*@
                        <li class="treeview">
                            @*<li>*@
                            <a href="/App_Menu/Index?deptt=HR">
                                <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                                <span onclick="setOpt('ATTENDANCE');">&nbsp;&nbsp;Attendance</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Attendance/GenerateAttendance">Generate Attendance</a></li>
                                <li><a href="/Attendance/Index">View Attendance</a></li>
                                <li><a href="/Attendance/getAttendanceBatchwise">Leaves Entry</a></li>
                            </ul>
                            @*</li>*@

                            @*Reports Menu*@
                        <li class="treeview">
                            @*<li>*@
                            <a href="/App_Menu/Index?deptt=HR">
                                <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                                <span onclick="setOpt('REPORTS');">&nbsp;&nbsp;Reports</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/EmployeeReport/Index">Emplouyee Data Report</a></li>
                                <li><a href="/AttendanceReport/Index">Attendance Report</a></li>
                                <li><a href="/AdvanceReport/Index">Advance Report</a></li>
                            </ul>
                            @*</li>*@

                    </ul>@*ul-end*@
                }
                else if (@ViewBag.Dept == "Quality")
                {
                    <ul class="sidebar-menu" data-widget="tree">
                        @*ul-start*@

                        @*Calibration Entries*@
                        <li class="treeview">
                            @*<li>*@
                            <a href="/App_Menu/Index?deptt=Quality">
                                <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                                <span onclick="setOpt('CALIBRATION ENTRIES');">&nbsp;&nbsp;Calibration Entries</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Calibration/Index">Calibration Entry</a></li>
                                <li><a href="/Calibration/MarkDeletion">Deletion Mark Entry</a></li>
                            </ul>
                            @*</li>*@

                            @*Master Entries*@
                        <li class="treeview">
                            @*<li>*@
                            <a href="/App_Menu/Index?deptt=Quality">
                                <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                                <span onclick="setOpt('MASTER ENTRIES');">&nbsp;&nbsp;Master Entries</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Imte/Index">IMTE Master</a></li>
                                <li><a href="/ImteType/Index">IMTE Type master</a></li>
                            </ul>
                            @*</li>*@

                            @*Reports Menu*@
                        <li class="treeview">
                            @*<li>*@
                            <a href="/App_Menu/Index?deptt=Quality">
                                <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                                <span onclick="setOpt('REPORTS');">&nbsp;&nbsp;Reports</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/CalibrationAlertReport/Index">Calibration Alert Report</a></li>
                                <li><a href="/CalibrationHistoryReport/Index">Calibration History Report</a></li>
                                <li><a href="/ImteMasterReport/Index">IMTE Master Report</a></li>
                                <li><a href="/CalibrationStatusReport/Index">Calibration Status Report</a></li>
                            </ul>
                            @*</li>*@

                    </ul>@*ul-end*@
                }
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div id="myDIV" class="icon-bar">

                @*Example*@
                @*<a class="active" href="/Home/Index">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>*@

                @*Home*@
                @*<a class="active" href="/Home/Index">
                    <i class="fa fa-home"></i>
                </a>*@

                @*My Home*@
                <a class="active" href="/App_Menu/Index?deptt=Home" title="Home">
                    <i class="fa fa-home"></i>
                </a>

                @*HR*@
            <a href="/App_Menu/Index?deptt=HR" title="HR">
                <i class="fa fa-users">
                    <span style="font-family:'Courier New'">
                        HR
                    </span>
                </i>
            </a>

                @*Example*@
                <a href="http://192.168.0.218:85/Dashboard/ManagementDsb.aspx" title="Marketing">
                    <i class="fa fa-line-chart"></i>
                </a>

                @*Purchase*@
                <a href="#" title="Purchase">
                    <i class="fa fa-cart-plus"></i>
                </a>

                @*Production*@
                <a href="#" title="Production">
                    <i class="fa fa-cogs"></i>
                </a>

                @*Tender*@
                <a href="#" title="Tendar">
                    <i class="fa fa-briefcase"></i>
                </a>

                @*Quality Control*@
            <a href="/App_Menu/Index?deptt=Quality" title="Quality Control">
                <i class="fa fa-android">
                    @*<span style="font-family:'Courier New'">
                        QUALITY
                    </span>*@ 
                </i>
            </a>

                @*IT Asset*@
                <a href="/Add_In_Stock_ITCELLLis/Index" title="IT Assest">
                    <i class="fa fa-bandcamp"></i>
                </a>

                @*Library*@
                <a href="/Library/IndexCategory" title="Library">
                    <i class="fa fa-book"></i>
                </a>
                
            </div>
            <!-- Content Header (Page header) -->
            @*<section class="content-header">*@

            @*<h1>
                    My Home
                    <small>Optional description</small>

                </h1>*@
            @*<ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>*@
            @*  </section>*@
            <!-- Main content -->
        <section class="content container-fluid">
            <!--------------------------
            | Your Page Content Here |
            -------------------------->
            <div id="mnuCaption" style="font-weight:bold;">
                @ViewBag.mnuOption
            </div>
            @RenderBody()
        </section>
            <!-- /.content -->
            @RenderSection("scripts", required: false)
        </div>

        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer" style="height:30px">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Welcome To-@ViewBag.CompName @ViewBag.FinYear
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year <a href="http://praggroup.com">Prag MIS</a>.</strong> All Rights Reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Arif's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    @*<h3 class="control-sidebar-heading">Tasks Progress</h3>
                        <ul class="control-sidebar-menu">
                            <li>
                                <a href="javascript:;">
                                    <h4 class="control-sidebar-subheading">
                                        Custom Template Design
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">70%</span>
                                        </span>
                                    </h4>
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>*@
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    @*<script src="bower_components/jquery/dist/jquery.min.js"></script>*@
   @* <script src="~/Scripts/jquery-3.4.1.js"></script>*@
    <script src="~/Script/Jquery 3.5.1.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    <script src="~/Script/jquery.dataTables.js"></script>
    <script src="~/Script/dataTables.bootstrap.js"></script>
    <script src="~/Script/bootstrap.js"></script>

    <!-- Bootstrap 3.3.7 -->
    @*<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@

    <!-- AdminLTE App -->
    @*<script src="dist/js/adminlte.min.js"></script>*@
    <script src="~/Script/AdminLTE/js/adminlte.js"></script>
    <script src="~/Script/Site.js"></script>

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. -->
    <!-- Calendar -->

</body>
</html>