
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - PRAG ERP</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/Content/MenuH.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                    <div class="float-left">@*<div class="float-left" style="height:45px;">*@
                        <p class="site-title"><img src="~/Images/prag-logo.png">
                    </div>
                    <div class="float-left" style="margin-left:10px;">
                        <div class="usr" style="font-size:x-large;"> Prag Group of Industries ERP System V.2</div><br/>
                    </div>
            </div>
        </header>
        <div id="main">
            <div id="menuCtr">
                <div class="menubox">
        <ul class="menu">
                <li class="First" style="width:120px;"><a href="/Home/HelpContent_General">General Topics</a>
                </li>
                <li style="width:90px;"><a href="/Home/HelpContent_Marketing">Marketing</a>
                </li>
                <li style="width:130px;"><a href="/Home/HelpContent_HR">Human Resource</a>
                </li>
                <li style="width:80px;"><a href="/Home/HelpContent_Stores">Stores</a>
                </li>
                <li style="width:80px;"><a href="/Home/HelpContent_Quality">Quality</a>
                </li>
                <li style="width:90px;"><a href="/Home/HelpContent_Production">Production</a>
                </li>
                <li style="width:80px;"><a href="#">Annexures</a>
                    <ul>
                        <li><a target="_blank" href="../Home/AnnexureHelp?fileName=PRAG_ERP_EXPLORER.pdf">
                            PRAG ERP EXPOLORER</a>
                        <li><a target="_blank" href="../Home/AnnexureHelp?fileName=ListOfTrainedStaff_2019.pdf">
                            List of Trained Staff Members</a>
                        <li><a target="_blank" href="../Home/AnnexureHelp?fileName=UserPermissionList.pdf">
                            User Permission List</a>
                        <li><a target="_blank" href="../Home/AnnexureHelp?fileName=CollabPermissionList.pdf">
                            Collaboration Permission List</a>
                        <li><a target="_blank" href="../Home/AnnexureHelp?fileName=Report_Requirement.pdf">
                            Report Requirement Format</a>
                    </ul>
                </li>
         </ul>
            </div>
            </div>
            <div id="body" style="min-height:400px;">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <div id="slideCtr"> </div>
            </div>
        @Html.Partial("../Home/pageFooter")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        <iframe id="Iframe1" runat="server" scrolling="no" frameborder="0"
            src="http://192.168.0.218:105/Notification/Index"
            style="width:90%;height:15px;opacity:0.00;">
        </iframe>

    </body>
</html>
