@model ManufacturingManagement_V2.Models.FamilyDetailMdl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

<h4><b>Family Detail</b></h4>

<p>
    @Html.ActionLink("Edit", "CreateUpdate", new { id=Model.RecId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Create New", "CreateUpdate", null, new { @class = "btn btn-default" })
</p>

<fieldset>
    @*<legend>FamilyDetailMdl</legend>*@
        <div class="form-group">
            <table class="table table-bordered">
                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.EmpId)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.EmpId)</td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.MemberName)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.MemberName)</td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.BirthDate)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.BirthDate)</td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.Age)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.Age)</td>
                </tr>

                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.Relation)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.Relation)</td>
                </tr>

            </table>
        </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn btn-default" value="Delete" onclick="return confirm('Are you sure to delete this record?');" />
    </p>
}
