@model ManufacturingManagement_V2.Models.ImteMdl

@{
    ViewBag.Title = "Details";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>IMTE Master Detail</b></h4>

<p>
    @Html.ActionLink("Edit", "CreateUpdate", new { id = Model.ImteId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Create New", "CreateUpdate", null, new { @class = "btn btn-default" })
</p>

<fieldset>
    @*<legend>LegendText</legend>*@
        <div class="form-group">
            <table class="table table-bordered">
                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.ImteId)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.ImteId)</td>
                </tr>
                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.ImteTypeName)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.ImteTypeName)</td>
                </tr>
                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.IdNo)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.IdNo)</td>
                </tr>
                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.ImteRange)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.ImteRange)</td>
                </tr>
                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.Location)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.Location)</td>
                </tr>
                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.PurchaseYear)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.PurchaseYear)</td>
                </tr>
                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.LeastCount)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.LeastCount)</td>
                </tr>
                <tr>
                    <td style="width:120px;font-weight:bold;">@Html.DisplayNameFor(model => model.IsInUse)</td>
                    <td style="vertical-align:top;">: @Html.DisplayFor(model => model.InUseStatus)</td>
                </tr>
            </table>
        </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        @ViewBag.Message
        <input type="submit" class="btn btn-default" value="Delete" onclick="return confirm('Are you sure to delete this record?');" />
    </p>
}
