@model ManufacturingManagement_V2.Models.MasterDocumentNameMdl
@{
   ViewBag.Title = "Index";
   Layout = "~/views/shared/_LayoutCommon.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />*@

    <script>
        $(function () {
            $('#example1').DataTable();
        })
        function GetDetails(id) {
            $.ajax({
                url: "/MasterDocumentName/EditRecord/" + id,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    $('#DocumentId').val(response.DocumentId);
                    $('#DocumentName').val(response.DocumentName);
                    $('#CmpName').val(response.CmpName);
                    $('#CompCode').val(response.CompCode);
                    $('#modal-Update').modal('show');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            return false;
        }
</script>

</head>
    <body style="background-color:whitesmoke">
        <section class="content">
            <br />
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-Insert" style="margin-right:20px;font-size:medium;">
                Create New
            </button>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                        </div>
                        <div class="box-body">

                            <table id="example1" class="table table-bordered table-hover " style="background-color:gray">
                                <thead>
                                    <tr>
                                        <th style="width:30px;">S.No.</th>
                                        <th style="width:auto;">Company</th>
                                        <th style="width:auto;">Document Name</th>
                                        <th style="width:80px;">Action</th>
                                    </tr>
                                </thead>
                                @{int i = 1;}
                                <tbody>
                                    @foreach (var item in Model.MDocList)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@Html.DisplayFor(model => item.CmpName)</td>
                                            <td>@Html.DisplayFor(model => item.DocumentName)</td>
                                            <td style="background-color:lightgray;">
                                                <a onclick="GetDetails(@item.DocumentId)">
                                                    <i class="fa fa-edit"> </i>
                                                </a>
                                                <a>
                                                    @Html.ActionLink(" ", "DeleteRecord", "MasterDocumentName",
                                                    new { id = item.DocumentId },
                                                    new
                                                         {
                                                             onclick = "return confirm('Are you sure to delete this record?');",
                                                        @class = "fa fa-trash-o"
                                                         })
                                                </a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
<div class="modal fade" id="modal-Update">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="box-title">Update Master Document Name</h3>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        @using (Html.BeginForm("UpdateRecord", "MasterDocumentName", FormMethod.Post))
                        {
                            <div class="modal-body" style="height:170px;width:500px;background-color:gray">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="DocumentId" name="DocumentId" readonly="true" >
                                        <input type="text" class="form-control" id="CmpName" name="CmpName" placeholder="Company" readonly="true">
                                        <input type="text" class="form-control" id="DocumentName" name="DocumentName" placeholder="Document Name">
                                        </div>
                                </div>
                                <div class="clearfix"></div>
                                </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Update</button>
                               
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="modal fade" id="modal-Insert">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="box-title">Create New</h3>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        @using (Html.BeginForm("InsertRecord", "MasterDocumentName", FormMethod.Post))
                        {
                            <div class="modal-body" style="height:150px;width:500px;background-color:gray">
                                <div class="col-md-8">
                                    <div class="form-group">
                                     @Html.HiddenFor(model => model.DocumentId)
                                     @Html.DropDownListFor(model => model.CompCode, ViewBag.CompanyList as SelectList)
                                     <input type="text" class="form-control" id="IDocumentName" name="DocumentName" placeholder="Document Name">
                                    </div>
                                </div>
                                </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Submit</button>
                             
                           </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-dismissable">
                @ViewBag.Message;
                <a href="#" class="close" data-dissmiss="alert">x</a>
            </div>
        }
    </div>
      </body>
    </html>
