@model List<string>

@{
    ViewBag.Title = "DownloadFile";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

<h4><b>Downloads</b></h4>
<fieldset>
            @using (Ajax.BeginForm("FilterDownload", "Employee", new AjaxOptions { UpdateTargetId = "divFilter" }))
            {
                <div class="form-group">
                    <table class="table table-bordered">
                        <tr>
                            @Html.Hidden("hfNewEmpId", null, new { @id = "hfNewEmpId" })
                            <td>
                                <b>Select Employee</b>
                                @Html.TextBox("txtEmpName", null, new { @placeholder = "start typing, then select" })
                                <button class="btn btn-default">Submit</button>
                                @Html.ActionLink("Upload File(s)", "UploadFile", null, new { @class = "btn btn-default" })
                            </td>
                    </tr>
                    </table>
                      </div>
            }   
</fieldset>
<table class="tablecontainer" style="width:100%;">
    <tr>
        <th style="text-align:left;width:50px;">S.No.</th>
        <th style="text-align:left;width:auto;">File Name</th>
        <th style="text-align:left; width:200px;">Links</th>
    </tr>
    @{int x = 1;}
    @for (var i = 0; i <= Model.Count - 1; i++)
    {
        <tr>
            <td>
                @x
            </td>
            <td>
                @Model[i].ToString()
            </td>
            <td>
                @Html.ActionLink("Display", "../Employee/ShowDocument", new { fileName = @Model[i].ToString(), newempid = @ViewBag.newempid }, new { target = "_blank" })
                @Html.ActionLink("Download", "../Employee/Download", new { fileName = @Model[i].ToString(), newempid = @ViewBag.newempid }, new { target = "_blank" })
            </td>
        </tr>
        x++;
    }
</table>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts{

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            document.getElementById("hfNewEmpId").value = '@ViewBag.newempid';
            document.getElementById("txtEmpName").value = '@ViewBag.empname';
        });
    </script>

    <script type="text/javascript">
        $("#txtEmpName").autocomplete({
            source: function (request, response) {
                var customer = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("AutoCompleteEmployeeNew", "HelpUtility"))",
                    data: { "term": request.term },
                    success: function (data) {
                        for (var i = 0; i < data.length ; i++) {
                            customer[i] = { label: data[i].Value, Id: data[i].Key };
                        }
                    }
                });
                response(customer);
            }, minLength: 2,
            select: function (event, ui) {
                document.getElementById('hfNewEmpId').value = ui.item.Id;
            }
        });
    </script>

}