@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

<h4><b>Upload Employee File(s)</b></h4>

<fieldset>
    @using (Html.BeginForm("UploadFile", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="newempid" id="newempid" value='@ViewBag.newempid'>
        <table class="table table-bordered">
            <tr>
                <td style="width:12%;"><label for="file"><i>Select Employee:</i></label></td>
                <td><input type="text" name="empname" id="empname" value='@ViewBag.empname'></td>
            </tr>
            <tr>
                <td><label for="file"><i>Select file(s) to upload:</i></label></td>
                <td>
                    <input style="color:green;font-weight:bold;"
                        type="file" name="docfiles" id="docfiles" multiple="multiple" />
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" class="btn btn-default" value="Upload File" />
            @Html.ActionLink("View Uploaded Files", "Downloads", null, new { @class = "btn btn-default" })
            <h5><b>@ViewBag.Message</b></h5>
        </p>
    }
</fieldset>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts {

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
            $("#empname").attr("placeholder", "start typing, then select");
            document.getElementById("newempid").value = '@ViewBag.newempid';
            document.getElementById("empname").value = '@ViewBag.empname';
        });

    </script>

    <script type="text/javascript">
        $("#empname").autocomplete({
            source: function (request, response) {
                var customer = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("AutoCompleteEmployeeNew", "HelpUtility"))",
                    data: { "term": request.term },
                    success: function (data) {
                        for (var i = 0; i < data.length ; i++) {
                            customer[i] = { label: data[i].Value, Id: data[i].Key };
                        }
                    }
                });
                response(customer);
            }, minLength: 2,
            select: function (event, ui) {
                document.getElementById('newempid').value = ui.item.Id;
            }
        });
    </script>

}


