@{
    ViewBag.Title = "UploadFile";
    //Layout = "~/views/shared/_LayoutIFramePopup.cshtml";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Upload Invoice QR Code</b></h4>

@*note: apply viewpage pattern of DocumentFileCntrl/UploadFile for complete reference *@

<fieldset>
    <br />
    @using (Html.BeginForm("UploadFile", "InvoiceControl", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="salerecid" id="salerecid" value='@ViewBag.salerecid'>
        <input type="hidden" name="invoiceno" id="invoiceno" value='@ViewBag.invoiceno'>
        <table class="table table-bordered">
            <tr>
                <td style="width:15%;"><label for="file"><i>Invoice No</i></label></td>
                <td>@ViewBag.invoiceno</td>
            </tr>
            <tr>
                <td><label for="file"><i>Select a file to upload:</i></label></td>
                <td>
                    <input style="color:green;font-weight:bold;" type="file" name="docfile" id="docfile" />
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" class="btn btn-default" value="Upload File" />
            @Html.ActionLink("Close", null, null, new { @onclick = "window.close();", @class = "btn btn-default" })
            <h5><b>@ViewBag.Message</b></h5>
        </p>
    }
</fieldset>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts {

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
        });

    </script>

}


