@model ManufacturingManagement_V2.Models.AlertsMdl
@{
    ViewBag.Title = "Indent";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h2>Admin Panel</h2>
<div style="width:100%;border:solid;border-width:1px;border-color:blue;border-radius:4px;">
@Html.Partial("AlertPartialSummary",Model)
<table style="font-size:14pt;font-family:Verdana;">
        <tr>
            <td><h3>@Html.ActionLink("Set User Permission", "../UserPermission/Index")</h3></td>
            <td><h3>@Html.ActionLink("View Users", "../UserAdmin/Index")</h3></td>
        </tr>
        <tr>
            <td><h3>@Html.ActionLink("User Permission Report", "../UserPermissionReport/Index")</h3></td>
            <td><h3>@Html.ActionLink("Create User", "../UserAdmin/CreateUpdate")</h3></td>
        </tr>
        <tr>
            <td><h3>@Html.ActionLink("Collab Permission Report", "../CollabPermissionReport/Index")</h3></td>
            <td><h3>@Html.ActionLink("View Company", "../Company/Index")</h3></td>
        </tr>
        <tr>
            <td><h3>@Html.ActionLink("User's Log Report", "../UsersLogReport/Index")</h3></td>
            <td><h3>@Html.ActionLink("Create Company", "../Company/CreateUpdate")</h3></td>
        </tr>
        <tr>
            <td><h3>@Html.ActionLink("Event Log Report", "../EventLogReport/Index")</h3></td>
            <td><h3>@Html.ActionLink("Admin Utilities", "../Admin/Index")</h3></td>
        </tr>
        <tr>
            <td><h3>@Html.ActionLink("Document Sub Category", "../DocSubCategory/Index")</h3></td>
            <td><h3>@Html.ActionLink("Master Document Name", "../MasterDocumentName/Index")</h3></td>
        </tr>
</table>
<br/>
</div>
