@model ManufacturingManagement_V2.Models.AlertsMdl
@{
    ViewBag.Title = "QuailDashboard";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}
<h2>QUAIL</h2>
<div style="width:100%;border:solid;border-width:1px;border-color:blue;border-radius:4px;padding-left:2px;">
@Html.Partial("AlertPartialSummary",Model)
<br/>
@*@Html.Partial("AlertPartialCompliance",Model)*@
<table>
    <tr>
        <td style="width:50%">@Html.ActionLink("Meeting Calendar", "../QuailMeeting/CalendarView")</td>
        <td style="width:50%">@Html.ActionLink("Meeting View", "../QuailMeeting/Index")</td>
    </tr>
    
    <tr>
        <td>@Html.ActionLink("QUAIL View", "../QuailBook/Index")</td>
        <td>@Html.ActionLink("QUAIL Card", "../QuailBookReport/Index")</td>
    </tr>
    
    <tr>
        <td>@Html.ActionLink("Function Member", "../FunctionMember/Index")</td>
        <td>@Html.ActionLink("New Member", "../FunctionMember/CreateUpdate")</td>
    </tr>
    
    <tr>
        <td>@Html.ActionLink("Function View", "../QuailFunction/Index")</td>
        <td>@Html.ActionLink("New Function", "../QuailFunction/CreateUpdate")</td>
    </tr>
</table> 
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function ShowHideDiv(id) {
            if (id.style.display == "block") {
                id.style.display = "none";
            }
            else {
                id.style.display = "block";
            }
        }
    </script>
}
