@model IEnumerable<ManufacturingManagement_V2.Models.EmployeeMdl>

@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h2>Testing API</h2>

<table class="table table-bordered">
    <tr>
        <th>
           S.No.
        </th>

        <th>
           @Html.DisplayNameFor(model => model.NewEmpId)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.PhoneExtNo)
        </th>
    </tr>
    @{int i = 1;}
@foreach (var item in Model)
{
    <tr>
        <td>
            @i
        </td>

        <td>
           @Html.DisplayFor(model => item.NewEmpId)
        </td>
        <td>
           @Html.DisplayFor(model => item.EmpName)
        </td>
        <td>
           @Html.DisplayFor(model => item.ContactNo)
        </td>
        <td>
           @Html.DisplayFor(model => item.PhoneExtNo)
        </td>
    </tr>
    i++;
}

</table>

@section Scripts{
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
            //document.getElementById("txtAttDay").focus();
        });
    </script>
}
