@model ManufacturingManagement_V2.Models.rptOptionMdl

@{
    ViewBag.Title = "CreateUpdate";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Stock Register  (* Under Testing)</b></h4>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
        <div class="form-group">
            <h5><b>Report Options</b></h5>
            <table class="table table-bordered">
                <tr>
                    <td style="width:10%;"><b>Company</b></td>
                    <td>
                        @Html.DropDownListFor(model => model.CompCode, ViewBag.CompanyList as SelectList)
                        @Html.ValidationMessageFor(model => model.CompCode)
                    </td>
                </tr>
                <tr>
                    <td><b>Voucher&nbsp;Type</b></td>
                    <td>
                        @Html.DropDownListFor(model => model.ItemCode, ViewBag.VTypeList as SelectList, "--Select--")
                        @Html.ValidationMessageFor(model => model.CompCode)
                    </td>
                </tr>
                <tr>
                    <td><b>Date From</b></td>
                    <td>
                        @Html.EditorFor(model => model.DateFrom)
                        @Html.ValidationMessageFor(model => model.DateFrom)
                    </td>
                </tr>
                <tr>
                    <td><b>Date To</b></td>
                    <td>
                        @Html.EditorFor(model => model.DateTo)
                        @Html.ValidationMessageFor(model => model.DateTo)
                    </td>
                </tr>
            </table>
        </div>
        <p>
            <input type="submit" class="btn btn-default" value="Submit" onclick="target = '_blank';"
                   formaction="@Url.Action("StockRegisterReport")" />
            <h5><b>@ViewBag.Message</b></h5>
        </p>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts {

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
            //$("#GroupName").attr("placeholder", "start typing, then select");
        });

    </script>

}