@model ManufacturingManagement_V2.Models.rptOptionMdl

@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>User Permission Report</b></h4>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
<div class="form-group">
    <h5><b>Report Options</b></h5>
    <table class="table table-bordered">
        @Html.HiddenFor(model => model.RailwayId)
        <tr>
            <td style="width:10%;">Group</td>
            <td>
                @Html.DropDownListFor(model => model.GroupId, ViewBag.GroupList as SelectList, "ALL", new { @onchange = "javascript:getEntry(this.value);" })
            </td>
        </tr>
        <tr>
            <td>Entry</td>
            <td>@Html.DropDownListFor(model => model.ItemId, ViewBag.EntryList as SelectList, "ALL")</td>
        </tr>
        <tr>
            <td>User Name</td>
            <td>@Html.EditorFor(model => model.RegNo)</td>
        </tr>
    </table>
</div>
    <input type="submit" class="btn btn-default" value="Submit" onclick="target = '_blank';" 
           formaction="@Url.Action("UserPermission")" />
    <h5><b>@ViewBag.Message</b></h5>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
            $("#RegNo").attr("placeholder", "start typing, then select");
        });
    </script>

    <script type="text/javascript">
        $("#RegNo").autocomplete({
            source: function (request, response) {
                var customer = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("AutoCompleteUsersList", "HelpUtility"))",
                    data: { "term": request.term },
                    success: function (data) {
                        for (var i = 0; i < data.length ; i++) {
                            customer[i] = { label: data[i].Value, Id: data[i].Key };
                        }
                    }
                });
                response(customer);
            }, minLength: 2,
            select: function (event, ui) {
                document.getElementById('RailwayId').value = ui.item.Id;
            }
        });
</script>

    <script type="text/javascript">
        function getEntry(grpId) {
            var url = "/HelpUtility/getEntryListForGroup/";
            $.ajax({
                cache: false,
                async: false,
                type: "POST",
                url: "@(Url.Action("getEntryListForGroup", "HelpUtility"))",//working
                data: { "groupid": grpId },
                success: function (data) {
                    //getting multiple records as (key,value) pair type list
                    $("#ItemId").empty(); // clear before appending new list 
                    $.each(data, function (i, item) {
                        $("#ItemId").append($('<option />', {
                            value: item.Key,
                            text: item.Value
                        }));
                    });
                    action = data.Action;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                }
            });//

        }
</script>

}