@model ManufacturingManagement_V2.Models.AttendanceMdl
@using Newtonsoft.Json

@{
    ViewBag.Title = "GenerateAttendance";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Attendance Generation</b></h4>
<div class="form-group">
    <h5><b>Attendance Details</b></h5>
    <table class="table table-bordered">
        <tr>
            <td style="width:10%;">@Html.DisplayNameFor(model => model.AttYear)</td>
            <td>
                <input type="text" id="txtAttYear" />
                <span class="error">Invalid year!</span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AttMonth)</td>
            <td>
                @Html.DropDownList("ddlMonth", ViewBag.MonthList as SelectList)
                <span class="error">Invalid month!</span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AttShift)</td>
            <td>
                @Html.DropDownList("ddlShift", ViewBag.ShiftList as SelectList)
                <span class="error">Invalid shift!</span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AttDay)</td>
            <td>
                <input type="text" id="txtAttDay" autofocus />
                <span class="error">Invalid day!</span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AttValue)</td>
            <td>
                @Html.DropDownList("ddlAttValue", ViewBag.AttTypeList as SelectList)
                <span class="error">Invalid shift!</span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AllowModify)</td>
            <td>
                <input type="text" id="txtAllowModify" placeholder="Allow Modify=1" />
                <span class="error">Invalid option!</span>
            </td>
        </tr>
    </table>
</div>
<div>
    <input id="submit" class="btn btn-default" type="button" value="Submit" />
    @Html.ActionLink("Leaves Entry", "getAttendanceBatchwise", null,
        new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", null,
        new { @class = "btn btn-default" })
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

@section Scripts{
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
            //document.getElementById("txtAttDay").focus();
            setValues();
        });
    </script>

    <script>
        function setValues() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            $('#txtAttDay').val(d);
            $('#txtAttYear').val(y);
            $('#ddlMonth').val(m + 1);
        }
    </script>

    <script>
        function getItemRate() {
            var groupId = $('#ddlItem').val();
            $.ajax({
                url: '/Order/getItemRate',
                type: "GET",
                dataType: "JSON",
                data: { groupid: groupId },
                success: function (items) {
                    $("#ddlItem").html(""); // clear before appending new list
                    $.each(items, function (i, item) {
                        $("#ddlItem").append(
                            "<option value=" + item.Value + ">" + item.Text + "</option>"
                        );
                    });
                }
            });
        }
    </script>

    <script>
        //Date Picker
        $(function () {
            $('#txtOrderDate').datepicker({
                dateFormat: 'dd/mm/yy'
            });
            $('#txtDelvDate').datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });

        //Save button click function
        $('#submit').click(function () {
            //validation of order
            var isAllValid = true;
            if ($('#txtAttDay').val().trim() == '') {
                $('#txtAttDay').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#txtAttDay').siblings('span.error').css('visibility', 'hidden');
            }
            if ($('#txtAttYear').val().trim() == '') {
                $('#txtAttYear').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#txtAttYear').siblings('span.error').css('visibility', 'hidden');
            }
            //Save if valid
            if (isAllValid) {
                var liShift = document.getElementById("ddlShift");
                var shiftIndex = liShift.selectedIndex;
                var shiftId = liShift.options[shiftIndex].value;

                var liMonth = document.getElementById("ddlMonth");
                var monthIndex = liMonth.selectedIndex;
                var monthId = liMonth.options[monthIndex].value;

                var liAttV = document.getElementById("ddlAttValue");
                var attVIndex = liAttV.selectedIndex;
                var attV = liAttV.options[attVIndex].value;

                var data = {
                    AttShift: shiftId,
                    AttDay: parseInt($('#txtAttDay').val().trim()),
                    AttMonth: monthId,
                    AttYear: parseInt($('#txtAttYear').val().trim()),
                    AttValue: attV,
                    AllowModify: $('#txtAllowModify').val().trim()
                }
                $(this).val('Please wait...');
                $.ajax({
                    url: '/Attendance/GenerateAttendance',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        //check is successfully save to database
                        if (d.status == true) {
                            //will send status from server side
                            alert(d.message);
                            //clear form
                            //$('#txtAttDay').val('');
                            //$('#txtAttYear').val('');
                            $('#txtAllowModify').val('');
                        }
                        else {
                            alert(d.message);
                        }
                        $('#submit').val('Submit');
                    },
                    error: function () {
                        alert('Error. Please try again.');
                        $('#submit').val('Submit');
                    }
                });
            }

        });

    </script>
}

<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }


    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 2px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }
</style>