@model ManufacturingManagement_V2.Models.MachineMaintenanceMDI
@{
    ViewBag.Title = "HistoryDetails";
    //layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HistoryDetails</title>
    <link href="~/Contents/bootstrap.min.css" rel="stylesheet" />
    <script>
    </script>
</head>
<body>
    <div id="printbar" class="pull-right" style="margin-right:3px;margin-bottom:3px;margin-top:3px">
    </div>
    <section class="content">
       
            <table id="jdtabledesktop" class="table table-bordered table-hover table-responsive table-condensed " style="width:100%;">
                <thead>
                    <tr>
                        @*<th>Id</th>*@
                        <th>Company</th>
                        <th>Machine</th>
                        <th>Work Details</th>
                        @*<th>Responsibility</th>*@
                        <th>CheckedBy</th>
                        <th>Schedule</th>
                        <th>Due Date</th>
                        <th>UpdatedOn</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.HistoryItem_List)
                    {
                    <tr>
                        @*<td>@Html.DisplayFor(model => item.id)</td>*@
                        <td>@Html.DisplayFor(model => item.ShortName)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.machinename)
                        </td>
                        <td style="word-break: break-all;">
                            @Html.DisplayFor(model => item.detailofworkdone)
                        </td>
                        @*<td>@Html.DisplayFor(model => item.EmpName)</td>*@
                        <td>@Html.DisplayFor(model => item.FullName)</td>
                        <td>@Html.DisplayFor(model => item.schedulename)</td>
                        <td>
                            @Html.DisplayFor(model => item.duedate)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.UpdatedOn)
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                </tfoot>
            </table>
        @*</div>*@
    </section>
        @*}*@
        <script src="~/Script/bootstrap.js"></script>
        <script src="/Script/Jquery 3.5.1.js"></script>
        <script src="/Script/jquery.dataTables.js"></script>
        <script src="/Script/Buttons-1.6.3/js/buttons.bootstrap.js"></script>
        <script src="/Script/Buttons-1.6.3/js/dataTables.buttons.js"></script>
        <script src="/Script/Buttons-1.6.3/js/buttons.flash.js"></script>
        <script src="/Script/Buttons-1.6.3/js/buttons.html5.js"></script>
        <script src="/Script/Buttons-1.6.3/js/buttons.print.js"></script>
        <script src="/Script/JSZip-2.5.0/jszip.js"></script>
        <script src="/Script/pdfmake-0.1.36/pdfmake.js"></script>
        <script src="/Script/pdfmake-0.1.36/vfs_fonts.js"></script>
        <script src="/Script/Buttons-1.6.3/js/buttons.colVis.js"></script>
        <script src="~/Script/dataTables.searchBuilder.js"></script>
        <script src="~/Script/searchBuilder.bootstrap.js"></script>
        <script src="~/Script/searchBuilder.jqueryui.js"></script>
        <script src="~/Script/Site.js"></script>
</body>
</html>

